body {
    max-width: 33em;
    margin: auto;
    margin-top: 2em;
    font-size: 14pt;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
}

a {
    font-weight: normal;
    color: gray;
    font-style: italic;
}

a:hover {
    color: orange;
}

nav p {
    font-size: 70%;
}