<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            max-width: 40em;
            margin: auto;
            font-size: 14pt;
            font-family: 'Trebuchet MS', Verdana, sans-serif;
        }
        a {
            font-weight: normal;
            color: gray;
        }
        a:hover {
            color: orange;
        }

        nav p {
            font-size: 70%;
        }
        nav a {
            display: inline-block;
            padding: 0 1em;
            margin: 0.5em 0;
        }
    </style>
    {% block head %}<title>Quotations</title>{% endblock %}
</head>

<body>
    <nav>
        <a href="/search">🔍Search</a>
        <a href="/">🎲Random</a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>
