{% extends "base.html" %}
{% block body %}
<blockquote>
{{entry.content|safe}}
</blockquote>
<p>
    <cite>{{entry.source}}</cite>
</p>
<nav>
    {% match entry.link %}
    {% when Some with (link) %}
    <p><a href="{{link}}">↪ source</a></p>
    {% when None %}
    {% endmatch %}
    <p><a href="/entry/{{entry.slug}}">♾ permalink</a></p>
</nav>
{% endblock %}